<%= form_for register do |f| %>
  <%= render 'shared/error_messages', object: register %>
  <p class='radio-button-holder'>
    <%= f.label :kind_ingreso, "Ingreso", class:'inline' %>
    <%= f.radio_button :kind, "ingreso" %>

    <%= f.label :kind_egreso, "Egreso", class:'inline' %>
    <%= f.radio_button :kind, "egreso" %>
  </p>
  <p>
    <%= f.label :date%>
    <%= f.text_field :date, class: "datepicker input-xlarge", readonly: 'true' %>
  </p>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, class: "input-xlarge" %>
  </p>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount, class: "input-xlarge" %>
  </p>
  <p>
    <%= f.label :folio %>
    <%= f.text_field :folio, class: "input-xlarge" %>
  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_area :description, class: "input-xxlarge", rows: "3" %>
  </p>
  <p>
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, class: "tags"%>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancelar', :back , class: "btn btn-link" %>
  </p>
<% end %>