<table class='table table-striped'>
  <thead>
    <th>Fecha</th>
    <th>Concepto</th>
    <th>Folio</th>
    <th>Cantidad</th>
  </thead>
<% registers.each do |register| %>
  <tr>
    <td><%= l register.date %></td>
    <td><%= link_to register.name, register %></td>
    <td><%= register.folio %></td>
    <td><%= amount_for register %></td>
  </tr>
<% end %>
</table>
<table class='table table-striped'>
  <tr>
    <td rowspan="2">Totales</td>
    <td>Ingresos</td>
    <td>Egresos</td>
    <td>Diferencia</td>
  </tr>
  <tr>
    <td><%= stats.incomes_total %></td>
    <td><%= stats.expenses_total %></td>
    <td><%= stats.difference_total %></td>
  </tr>
</table>