<h1>
  Nuevo registro
</h1>

<%= form_for @register do |f| %>
  <p>
    <%= f.label :kind_ingreso, "Ingreso" %><br/>
    <%= f.radio_button :kind, "ingreso" %>

    <%= f.label :kind_egreso, "Egreso" %><br/>
    <%= f.radio_button :kind, "egreso" %>
  </p>
  <p>
    <%= f.label :date %><br/>
    <%= f.text_field :date, class: "datepicker" %>
  </p>
  <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :amount %><br/>
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :folio %><br/>
    <%= f.text_field :folio %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %><br/>
  </p>
<% end %>
