<p>
  <strong>Folio: </strong><span><%= @register.folio %></span>
</p>
<p>
  <strong>Concepto: </strong><span><%= @register.name %></span>
</p>
<p>
  <strong>Cantidad: </strong><span><%= @register.amount %></span>
</p>
<p>
  <strong>Fecha: </strong><span><%= l @register.date %></span>
</p>
<p>
  <strong>Tipo: </strong><span><%= @register.kind.titleize %></span>
</p>
<p>
  <strong>Detalle: </strong><span><%= @register.description %></span>
</p>
<p>
  <strong>Tags: </strong><span><%= @register.tag_list %></span>
</p>
<%= link_to 'Regresar al listado de registros', registers_path %>
