<%= form_for @supplier do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :rfc %>
    <%= f.text_field :rfc %>
  </p>
  <p>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to 'Cancelar', :back , class: "btn btn-link" %>
  </p>
<% end %>